body { font-family: Arial; margin: 0; background: #f4f6f9; }

header {
  background: #1e2a38;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  background: #2f4050;
  padding: 10px;
  text-align: center;
}

nav button {
  background: #4e73df;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.status-Pending {
  color: orange;
  font-weight: bold;
}

.status-Done {
  color: blue;
  font-weight: bold;
}

.status-Resolved {
  color: green;
  font-weight: bold;
}


.section { display:none; padding:20px; }
.active { display:block; }

.cards { display:flex; gap:20px; }
.card {
  background:white; padding:20px; flex:1;
  border-radius:10px; box-shadow:0 2px 8px rgba(0,0,0,0.1);
  text-align:center;
}

table { width:100%; border-collapse:collapse; background:white; table-layout:fixed; }

th { background:#2f4050; color:white; text-align:center; }
th, td { padding:10px; border-bottom:1px solid #e5e5e5; text-align:center; }

button { padding:5px 10px; margin:2px; border:none; border-radius:5px; cursor:pointer; }
.view { background:#17a2b8; color:white; }
.edit { background:#ffc107; }
.delete { background:#dc3545; color:white; }

.modal { display:none; position:fixed; inset:0; background:rgba(0,0,0,0.4); }
.modal-content { background:white; padding:20px; width:400px; margin:10% auto; border-radius:10px; }
.close { float:right; cursor:pointer; font-size:20px; }

.status-Pending { color: orange; font-weight: bold; }
.status-Done { color: blue; font-weight: bold; }
.status-Resolved { color: green; font-weight: bold; }

.edit {
  background: #f6c23e;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background: #e74a3b;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

